<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        background: #F5F5DC;
    }

    .content {
        max-width: 400px;
        margin: auto;
        vertical-align: middle;
        background: white;
        padding: 10px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="content">
    <h1>Register new user:</h1>
    <form th:method="POST" th:action="@{/auth/reg}" th:object="${user}">
        <label for="username">Введите имя пользователя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
        <br/>
        <label for="email">Введите email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error
        </div>
        <br/>
        <label for="password">Введите пароль: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <br/>
        <input type="submit" value="Sign up!"/>
    </form>
    <br/>
    <a href="/auth/login">back</a>
</div>
</body>
</html>